

*, *::after, *::before{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
:root{
  --orange-color: #ff4500;
  --border-radius: 40px;
  --trans-border: transparent;
  --pd-left: 5%;
}
.action-btn{
  margin-top: 1em;
  font-size: 1.5rem; 
  padding: 1em 1.25em; 
  color: white;
  background-color: var(--orange-color);
  border-radius: 1.5em;
  border: transparent;

}
/* Navbar */
nav{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align:center;
          align-items:center;
  width: 90%;
  margin: 0 auto;
  font-family: 'Fredoka', sans-serif;
  padding: 1rem 0;
}
.nav-items{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  gap: 2.5em;
}
.nav-item{
  font-size: 1.5rem;
}
.active-item{
  color: orangered;
}

/* Intro Section */
.intro-section{
  height: calc(100vh - 17vh);
  display: -webkit-box;
  display: flex; 
  width: 90%;
  margin: 0 auto;
}
/* left-section */
.left-section{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  font-family: 'Poppins', sans-serif ;
  padding-bottom: .5rem;
}
.left-section>h3{
  font-size: 2rem;
}
.left-section>h1{
  font-size: 4rem;
  font-weight: 1000;
}

/* sub-headlines */
.sub-headlines{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  gap: 0.5rem;
  margin-bottom: .5rem;
}
.sub-headline{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-size: 1rem;
  width: 100%;
  gap: .7rem;
}
.sub-headline img{
  background-color: var(--orange-color);
  border-radius: 50%;
  padding: 7px;
}
/* text */
.left-section .text{
  margin-top: 1.5rem;
  color: #94a3b8;
  margin-bottom: 2rem;
  width: 95%;
}
/* action buttons */
.action-btns{
    display: -webkit-box;
    display: flex;
    gap: 2rem;
    padding: 0%;
  }

/* right-section */
.right-section{
  padding-top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1.1;
          flex: 1.1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding-bottom: .5rem;
  
}

/* Headphone and discount styling */
.headphone-div{
  position: relative;
}
.discount{
  position: absolute;
  bottom: 60px;
  left: -35px;
  -webkit-filter: drop-shadow(5px 5px 0 rgba(0,0,0,0.3));
          filter: drop-shadow(5px 5px 0 rgba(0,0,0,0.3));
}
.discount-content{
  position: absolute;
  bottom: 80px;
  left: -8px;
  font-family: 'Poppins', sans-serif;
  color: white;
}
.discount-content>h4{
  font-size: .8rem;
  -webkit-transform: translate(20%, 0);
          transform: translate(20%, 0);
}
.discount-content>h1{
  font-size: 2.5rem;
}

/* Three Dots */
.dots{
  margin-bottom: 1.2rem;
  display: -webkit-box;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center;
  gap: 1.2rem;
}
.dot
{
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
}
.yellow-dot
{
  background-color: yellow;
}
.tomato-dot
{
  background-color: var(--orange-color);
}






