@media screen and (max-width: 1192px){
  /* navbar */
  nav{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .nav-items{
    align-items: center;
  }
  .nav-item{
    font-size: 1.25rem;
  }
  .img-action{
    display: none;
  }
  /* intro section */
  .intro-section{
    flex-direction: column;
    gap: 2rem;
  }
  .left-section{
    align-items: center;
    text-align: center;
  }
  .action-btn{
    font-size: 1rem;
  }
}

@media screen and (max-width: 550px){
  .nav-items{
    display: none;
  }
  h1{
    font-size: .5rem;
  }
  
  .discount{
    left: 0;
  }
  .discount-content{
    left: 17.5px;
  }
}
@media screen and (max-width: 400px){
  .discount{
    left: 5px;
  }
  .discount-content{
    left: 25px;
  }
}
